<!-- backend\views\partials\navigation.ejs -->
<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/admin">Панель администратора</a></li>
        <li><a href="/contact">Обратная связь</a></li>
        <% if (typeof user !== 'undefined' && user) { %> <!-- Проверяем, что user существует и не null -->
        <li><a href="#">Привет, <%= user.username %></a></li>
        <li><a href="/logout">Выйти</a></li>
        <% } else { %>
            <li><a href="/auth">Вход / Регистрация</a></li>
        <% } %>
    </ul>
</nav>